files:
  '/home/ec2-user/tabify-firebase.json':
    mode: '000644'
    owner: nodejs
    group: nodejs
    source: https://elasticbeanstalk-us-east-2-089046258499.s3.us-east-2.amazonaws.com/Tabify+Server/tabify-firebase.json

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: tabify-server-config

container_commands:
  01_mv_to_app_dir:
    command: 'mv /home/ec2-user/tabify-firebase.json ./tabify-firebase.json'
